Обработка категориальных признаков

In [46]:
import pandas as pd
import numpy as np
import sklearn.linear_model
import sklearn.model_selection
import sklearn.metrics
import sklearn.preprocessing
import sklearn.feature_extraction

%matplotlib inline

import matplotlib.pyplot as plt
from pprint import pformat
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')

In [63]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [64]:
# Функция для замены бинарных признаков на 1 и 0
# word_binar: в зависимости от того, какое значение в столбце "column_name"
def categor_repl(data, column_name, word_binar): 
    for col in [column_name]:
        data[col] = np.where(data[col] == word_binar, 1, 0)
    labels = data[column_name]

In [65]:
categor_repl(df,'loan', 'yes')
categor_repl(df,'housing', 'yes')
categor_repl(df,'default', 'yes')
categor_repl(df,'contact', 'telephone')
labels = df['y']
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,0,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,0,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,0,1,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,0,0,0,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,0,0,1,1,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [66]:
print('train shape: ', df.shape)

train shape:  (41188, 21)

In [67]:
# Записываем категориальные фичи
cat_features = df.columns[df.dtypes == 'object'].tolist()

In [68]:
cat_features

['job', 'marital', 'education', 'month', 'day_of_week', 'poutcome', 'y']

In [69]:
cat_features = cat_features[0:len(cat_features)-1]

In [70]:
cat_features

['job', 'marital', 'education', 'month', 'day_of_week', 'poutcome']

In [71]:
# Записываем непрерывные фичи
numerical_feature = []

for col_name in df.columns:
    if col_name not in cat_features+['y']:
        numerical_feature = numerical_feature + [col_name]

In [72]:
numerical_feature

['age',
 'default',
 'housing',
 'loan',
 'contact',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed']

In [73]:
# Обработка категориальных признаков с помощью One Hot Encoding
df_concat_cat_features = pd.get_dummies(df[cat_features])

# Удаление категориальных переменных
df.drop(cat_features, axis = 1, inplace = True)

# Присоединение новых
df = pd.concat([df_concat_cat_features, df], axis = 1 )

In [74]:
df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,0,0,1,0,0,0,0,0,0,...,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
1,0,0,0,0,0,0,0,1,0,0,...,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
2,0,0,0,0,0,0,0,1,0,0,...,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
3,1,0,0,0,0,0,0,0,0,0,...,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
4,0,0,0,0,0,0,0,1,0,0,...,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no

In [75]:
df['y']

0         no
1         no
2         no
3         no
4         no
5         no
6         no
7         no
8         no
9         no
10        no
11        no
12        no
13        no
14        no
15        no
16        no
17        no
18        no
19        no
20        no
21        no
22        no
23        no
24        no
25        no
26        no
27        no
28        no
29        no
        ...
41158    yes
41159    yes
41160    yes
41161     no
41162     no
41163    yes
41164    yes
41165    yes
41166    yes
41167     no
41168     no
41169     no
41170     no
41171    yes
41172    yes
41173    yes
41174    yes
41175     no
41176     no
41177     no
41178    yes
41179     no
41180     no
41181    yes
41182     no
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [76]:
print('train shape: ', df.shape)

train shape:  (41188, 57)

In [ ]:
# Для сравнения кач-ва можно в линейных моделях попробовать как стандратизированные данные, так и нет

scaler=StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df[numerical_feature]), columns = numerical_feature)
test_scaled = pd.DataFrame(scaler.fit_transform(test[numerical_feature]), columns = numerical_feature)

Модель

In [77]:
df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,0,0,1,0,0,0,0,0,0,...,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
1,0,0,0,0,0,0,0,1,0,0,...,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
2,0,0,0,0,0,0,0,1,0,0,...,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
3,1,0,0,0,0,0,0,0,0,0,...,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no
4,0,0,0,0,0,0,0,1,0,0,...,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,no

In [79]:
d = {'yes': 1, 'no': 0}
df['y'] = df['y'].map(d)   
df['y'] = df['y'].astype('int64')

In [80]:
df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,0,0,1,0,0,0,0,0,0,...,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
1,0,0,0,0,0,0,0,1,0,0,...,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
2,0,0,0,0,0,0,0,1,0,0,...,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
3,1,0,0,0,0,0,0,0,0,0,...,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
4,0,0,0,0,0,0,0,1,0,0,...,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0

In [81]:
df.corr()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
job_admin.,1.000000,-0.313313,-0.111417,-0.094595,-0.160892,-0.121502,-0.110021,-0.190063,-0.085748,-0.257516,...,-0.008918,0.011745,-0.025398,0.018888,-0.024572,-0.041840,0.032341,-0.023831,-0.023446,0.031426
job_blue-collar,-0.313313,1.000000,-0.103050,-0.087492,-0.148810,-0.112378,-0.101759,-0.175791,-0.079308,-0.238178,...,0.012992,-0.001775,0.065335,-0.054845,0.057264,0.075322,-0.101567,0.046775,0.063921,-0.074423
job_entrepreneur,-0.111417,-0.103050,1.000000,-0.031113,-0.052918,-0.039962,-0.036186,-0.062513,-0.028203,-0.084698,...,0.003679,-0.002203,0.019246,-0.013239,0.009363,0.009825,-0.032306,0.018744,0.024581,-0.016644
job_housemaid,-0.094595,-0.087492,-0.031113,1.000000,-0.044929,-0.033929,-0.030723,-0.053075,-0.023945,-0.071911,...,-0.004908,0.004226,-0.001649,-0.011569,0.036367,0.028335,0.035374,0.036392,0.028105,-0.006505
job_management,-0.160892,-0.148810,-0.052918,-0.044929,1.000000,-0.057708,-0.052255,-0.090272,-0.040726,-0.122309,...,-0.001308,-0.009135,0.000254,0.006735,-0.016642,-0.025268,0.000784,-0.001590,-0.001475,-0.000419
job_retired,-0.121502,-0.112378,-0.039962,-0.033929,-0.057708,1.000000,-0.039462,-0.068171,-0.030756,-0.092365,...,0.012421,-0.006847,-0.072084,0.065113,-0.103678,-0.052251,0.087033,-0.102454,-0.129367,0.092221
job_self-employed,-0.110021,-0.101759,-0.036186,-0.030723,-0.052255,-0.039462,1.000000,-0.061730,-0.027849,-0.083637,...,0.004270,0.006361,0.014307,-0.011231,0.001477,-0.005122,0.000592,0.007421,0.009519,-0.004663
job_services,-0.190063,-0.175791,-0.062513,-0.053075,-0.090272,-0.068171,-0.061730,1.000000,-0.048110,-0.144485,...,0.000142,0.002383,0.030573,-0.011885,0.019431,0.033282,-0.055561,0.014666,0.020629,-0.032301
job_student,-0.085748,-0.079308,-0.028203,-0.023945,-0.040726,-0.030756,-0.027849,-0.048110,1.000000,-0.065185,...,0.014432,-0.024657,-0.096367,0.104671,-0.139725,-0.062117,0.010029,-0.147551,-0.165365,0.093955
job_technician,-0.257516,-0.238178,-0.084698,-0.071911,-0.122309,-0.092365,-0.083637,-0.144485,-0.065185,1.000000,...,-0.013742,0.001557,0.004575,-0.017142,0.054268,-0.010849,0.054973,0.050793,0.052741,-0.006149
job_unemployed,-0.092467,-0.085523,-0.030413,-0.025821,-0.043918,-0.033166,-0.030032,-0.051881,-0.023406,-0.070293,...,-0.005413,-0.000200,-0.023085,0.008426,-0.019581,-0.003262,0.016992,-0.014171,-0.021724,0.014752
job_unknown,-0.052307,-0.048379,-0.017204,-0.014607,-0.024843,-0.018761,-0.016988,-0.029348,-0.013240,-0.039763,...,-0.006450,0.002625,-0.011419,-0.003345,0.015789,0.022246,0.033103,0.016982,0.007334,-0.000151
marital_divorced,0.020013,-0.056857,0.006657,0.020571,0.001075,0.059814,-0.011017,0.022850,-0.047510,0.003945,...,-0.006156,0.005872,0.011711,-0.003066,0.018558,0.018956,-0.015688,0.019309,0.018886,-0.010608
marital_married,-0.120494,0.129272,0.051050,0.042492,0.061761,0.057858,0.011968,-0.018202,-0.168294,-0.055176,...,-0.004042,0.002332,0.031614,-0.043420,0.080189,0.046424,0.062052,0.088908,0.082479,-0.043398
marital_single,0.117787,-0.100192,-0.060245,-0.060971,-0.067364,-0.105345,-0.005950,0.004078,0.216639,0.057404,...,0.007808,-0.007624,-0.042015,0.048485,-0.099403,-0.063013,-0.056186,-0.109479,-0.102382,0.054133
marital_unknown,-0.007918,-0.005251,0.000514,0.003278,-0.005753,0.004574,0.006768,-0.003194,-0.002675,-0.001635,...,0.009263,0.009873,-0.005989,0.009095,-0.008513,-0.007958,-0.003025,-0.007840,-0.005887,0.005211
education_basic.4y,-0.181255,0.265906,-0.004627,0.186187,-0.061533,0.169931,-0.022509,-0.073709,-0.034984,-0.136010,...,0.008476,0.004000,0.005804,-0.017601,0.028660,0.047959,0.019068,0.025269,0.014361,-0.010798
education_basic.6y,-0.104499,0.231184,-0.005748,0.012049,-0.032049,-0.010967,-0.031380,0.001843,-0.026215,-0.082501,...,0.005739,-0.000991,0.023238,-0.021493,0.023065,0.031201,-0.032796,0.021225,0.025810,-0.023517
education_basic.9y,-0.162641,0.372303,-0.001371,-0.026678,-0.070301,-0.036849,0.004303,-0.045225,-0.013998,-0.112300,...,0.004810,-0.005278,0.036963,-0.026418,0.020422,0.034202,-0.073855,0.018334,0.030183,-0.045135
education_high.school,0.122080,-0.173873,-0.031929,-0.025783,-0.084671,-0.034942,-0.066365,0.344564,0.061865,-0.106598,...,0.005500,0.000195,0.005522,0.014347,-0.017078,0.008704,-0.051876,-0.020583,-0.015485,-0.007452
education_illiterate,-0.009498,0.011010,0.008579,0.003938,-0.005780,0.013056,0.015142,-0.006828,-0.003081,-0.009251,...,0.001491,-0.002188,-0.002086,-0.002613,-0.002865,-0.009332,0.002497,-0.001263,0.001372,0.007246
education_professional.course,-0.161464,-0.126531,-0.019858,-0.034931,-0.080331,0.008031,-0.005143,-0.070904,-0.034545,0.484617,...,-0.008472,0.002554,-0.003493,-0.007631,0.022154,-0.003827,0.031234,0.019634,0.016493,0.001003
education_university.degree,0.327321,-0.336592,0.051832,-0.058528,0.248491,-0.059359,0.100652,-0.180257,-0.032660,-0.026327,...,-0.012641,-0.000950,-0.036958,0.025419,-0.045331,-0.091954,0.073705,-0.034208,-0.034143,0.050364
education_unknown,-0.052604,0.018869,-0.002746,-0.001947,0.000054,0.015554,-0.020367,-0.006891,0.109278,-0.023345,...,0.003317,0.002162,-0.022014,0.022641,-0.003038,0.030016,0.028275,-0.006061,-0.021703,0.021430
month_apr,-0.005021,-0.006267,0.008579,-0.013000,0.003150,0.024856,0.003370,0.009208,0.033103,-0.016873,...,0.035185,-0.058519,-0.009629,0.079384,-0.312990,-0.205878,-0.325795,-0.340480,-0.267283,0.076136
month_aug,0.074408,-0.131318,-0.053167,0.021043,-0.021601,0.028555,-0.000426,-0.072660,-0.007189,0.142524,...,-0.041889,0.015009,-0.003176,-0.048852,0.177895,-0.192027,0.445243,0.164534,0.193102,-0.008813
month_dec,0.003324,-0.025339,-0.010771,0.012289,-0.001312,0.046479,-0.000560,-0.019275,0.040956,-0.005734,...,0.022438,-0.009819,-0.076425,0.059557,-0.124174,-0.099017,0.097795,-0.105860,-0.124611,0.079303
month_jul,-0.000040,0.027174,0.006725,0.021982,-0.027493,-0.009148,-0.009648,0.021410,-0.021045,-0.020497,...,0.026819,0.098385,0.049695,-0.116785,0.314863,0.253303,-0.185320,0.281835,0.299021,-0.032230
month_jun,-0.017926,0.032989,0.011374,-0.000394,-0.007199,-0.017764,0.008143,0.007248,-0.006013,-0.025952,...,-0.023351,0.070144,0.015957,-0.069905,0.148653,0.445513,-0.089588,0.141107,0.162315,-0.009182
month_mar,0.015060,-0.036963,-0.019889,-0.010794,0.002677,0.043721,0.007168,-0.019865,0.043283,0.007236,...,-0.005516,-0.015244,-0.078769,0.072733,-0.138849,-0.095783,-0.053793,-0.164298,-0.179106,0.144014
month_may,-0.055052,0.136311,-0.000762,-0.018967,-0.013724,-0.063288,-0.016083,0.059156,-0.021597,-0.058580,...,0.008054,-0.032704,0.070690,-0.012534,-0.111356,-0.057274,-0.011740,-0.133859,-0.171782,-0.108271
month_nov,0.008823,-0.062053,0.054461,-0.009495,0.085207,-0.014291,0.025108,-0.020385,-0.018625,-0.009727,...,-0.015941,-0.079028,-0.016946,0.081050,-0.105917,-0.215273,-0.052892,0.019524,0.027593,-0.011796
month_oct,0.006538,-0.049034,-0.010429,0.000611,0.000020,0.089043,-0.003833,-0.022751,0.048562,-0.000775,...,0.015454,-0.049126,-0.128677,0.127754,-0.213706,-0.092174,0.170425,-0.185937,-0.273236,0.137366
month_sep,0.010407,-0.054309,-0.009172,-0.003503,0.004479,0.064618,0.000381,-0.018260,0.053170,-0.000739,...,0.018011,-0.033953,-0.154629,0.157651,-0.170366,-0.046905,0.169175,-0.190321,-0.292156,0.126067
day_of_week_fri,0.009892,0.003329,-0.001905,-0.007595,-0.005940,0.001902,0.003040,-0.000888,-0.001836,-0.005081,...,-0.010343,0.026641,0.013782,0.004404,-0.015277,0.002569,-0.003104,-0.015371,-0.012913,-0.006996
day_of_week_mon,-0.000736,-0.009754,0.006828,0.003365,0.008306,-0.002261,0.005343,0.002959,-0.001610,-0.001272,...,-0.023068,0.014405,0.001031,-0.002012,-0.018139,0.001273,-0.041382,-0.023279,-0.017433,-0.021265
day_of_week_thu,-0.003970,-0.007062,0.005551,-0.009014,-0.005846,-0.012856,0.012590,-0.000190,0.005716,0.013274,...,0.014666,0.005141,-0.008186,0.001512,-0.007673,-0.017143,-0.027877,-0.013757,-0.002658,0.013888
day_of_week_tue,-0.001835,-0.006829,-0.007275,0.011500,0.001589,0.011964,-0.008072,0.002780,0.000057,0.000919,...,0.004140,-0.025125,-0.007300,0.000090,0.014582,0.001216,0.050033,0.022732,0.009923,0.008046
day_of_week_wed,-0.003112,0.020673,-0.003480,0.001797,0.001794,0.001624,-0.013241,-0.004716,-0.002453,-0.008182,...,0.014537,-0.021088,0.001021,-0.003929,0.026797,0.012479,0.023711,0.030201,0.023272,0.006302
poutcome_failure,0.002771,-0.013254,0.001595,-0.017853,0.009056,0.020917,-0.000741,0.010347,0.040214,-0.016844,...,-0.013311,-0.068890,0.006354,0.682608,-0.381706,-0.297718,-0.162592,-0.385417,-0.349602,0.031799
poutcome_nonexistent,-0.015560,0.043843,0.007598,0.014629,-0.007343,-0.054113,0.007385,0.005760,-0.079189,0.017557,...,-0.011665,0.087645,0.491353,-0.878776,0.472501,0.304264,0.099724,0.488406,0.493051,-0.193507
poutcome_success,0.025069,-0.061403,-0.017238,0.002276,-0.001302,0.068061,-0.012871,-0.028558,0.083321,-0.005036,...,0.044876,-0.050893,-0.950700,0.524045,-0.256886,-0.077416,0.084824,-0.281022,-0.350613,0.316269
age,-0.102584,-0.024191,0.031213,0.085403,0.062040,0.440772,-0.001356,-0.065731,-0.199749,-0.064383,...,-0.000866,0.004594,-0.034369,0.024365,-0.000371,0.000857,0.129372,0.010767,-0.017725,0.030399
default,-0.004967,-0.004594,-0.001634,-0.001387,-0.002359,-0.001782,-0.001613,-0.002787,-0.001257,0.011601,...,-0.005101,-0.003803,0.001668,0.002766,0.004445,-0.003141,0.004492,0.005274,0.005941,-0.003041
housing,0.011128,-0.016031,0.004287,-0.004689,-0.007896,-0.002189,-0.001166,-0.004799,0.004261,0.011001,...,-0.006804,-0.010800,-0.010719,0.020446,-0.059862,-0.081920,-0.034496,-0.058913,-0.045046,0.011743
loan,0.020088,-0.006127,-0.005449,-0.002905,-0.001201,-0.007076,-0.007624,-0.000247,0.004350,-0.006197,...,0.000121,0.005294,-0.000086,-0.002143,0.001193,-0.005944,-0.013673,-0.000487,0.004205,-0.004466
contact,-0.059227,0.094712,0.018894,0.010455,-0.009031,-0.035096,0.002480,0.035596,-0.040422,-0.048635,...,-0.026657,0.077368,0.117970,-0.212848,0.393584,0.591474,0.251614,0.399773,0.269155,-0.144773
duration,-0.008918,0.012992,0.003679,-0.004908,-0.001308,0.012421,0.004270,0.000142,0.014432,-0.013742,...,1.000000,-0.071699,-0.047577,0.020640,-0.027968,0.005312,-0.008173,-0.032897,-0.044703,0.405274
campaign,0.011745,-0.001775,-0.002203,0.004226,-0.009135,-0.006847,0.006361,0.002383,-0.024657,0.001557,...,-0.071699,1.000000,0.052584,-0.079141,0.150754,0.127836,-0.013733,0.135133,0.144095,-0.066357
pdays,-0.025398,0.065335,0.019246,-0.001649,0.000254,-0.072084,0.014307,0.030573,-0.096367,0.004575,...,-0.047577,0.052584,1.000000,-0.587514,0.271004,0.078889,-0.091342,0.296899,0.372605,-0.324914
previous,0.018888,-0.054845,-0.013239,-0.011569,0.006735,0.065113,-0.011231,-0.011885,0.104671,-0.017142,...,0.020640,-0.079141,-0.587514,1.000000,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333,0.230181
emp.var.rate,-0.024572,0.057264,0.009363,0.036367,-0.016642,-0.103678,0.001477,0.019431,-0.139725,0.054268,...,-0.027968,0.150754,0.271004,-0.420489,1.000000,0.775334,0.196041,0.972245,0.906970,-0.298334
cons.price.idx,-0.041840,0.075322,0.009825,0.028335,-0.025268,-0.052251,-0.005122,0.033282,-0.062117,-0.010849,...,0.005312,0.127836,0.078889,-0.203130,0.775334,1.000000,0.058986,0.688230,0.522034,-0.136211
cons.conf.idx,0.032341,-0.101567,-0.032306,0.035374,0.000784,0.087033,0.000592,-0.055561,0.010029,0.054973,...,-0.008173,-0.013733,-0.091342,-0.050936,0.196041,0.058986,1.000000,0.277686,0.100513,0.054878
euribor3m,-0.023831,0.046775,0.018744,0.036392,-0.001590,-0.102454,0.007421,0.014666,-0.147551,0.050793,...,-0.032897,0.135133,0.296899,-0.454494,0.972245,0.688230,0.277686,1.000000,0.945154,-0.307771
nr.employed,-0.023446,0.063921,0.024581,0.028105,-0.001475,-0.129367,0.009519,0.020629,-0.165365,0.052741,...,-0.044703,0.144095,0.372605,-0.501333,0.906970,0.522034,0.100513,0.945154,1.000000,-0.354678
y,0.031426,-0.074423,-0.016644,-0.006505,-0.000419,0.092221,-0.004663,-0.032301,0.093955,-0.006149,...,0.405274,-0.066357,-0.324914,0.230181,-0.298334,-0.136211,0.054878,-0.307771,-0.354678,1.000000

In [82]:
X = df.drop('y', axis=1)
y = df['y']

In [83]:
def get_pred_res(X,y):
    from sklearn.model_selection import train_test_split, StratifiedKFold
    X_train, X_holdout, y_train, y_holdout = train_test_split(X.values, y, test_size=0.3,
                                                          random_state=17)

    logit = sklearn.linear_model.LogisticRegression(n_jobs=-1, random_state=7)
    logit.fit(X_train, y_train)
    
    svm = sklearn.svm.LinearSVC(random_state=7)
    svm.fit(X_train, y_train)
    
    from sklearn.metrics import accuracy_score
    logit_pred = logit.predict(X_holdout)
    svm_pred = svm.predict(X_holdout)

    # Подберем коэффициент регуляризации для логистической регрессии
    
    from sklearn.model_selection import GridSearchCV

    param_grid_logit = {'C': 
                    np.logspace(-5, 0, 6)}
    grid_logit = GridSearchCV(logit, param_grid_logit, cv=3, n_jobs=-1)

    grid_logit.fit(X_train, y_train)
    
    # То же самое для LinearSVC.
    
    param_grid_svm = {'C': np.logspace(-5, 0, 6)}
    grid_svm = GridSearchCV(svm, param_grid_svm, cv=3, n_jobs=-1)
  
    grid_svm.fit(X_train, y_train) 
    
    pred_result=pd.DataFrame()
    pred_result.loc[0,'model'] = 'SVM'
    pred_result.loc[0,'accuracy_score'] = accuracy_score(y_holdout, svm_pred)
    pred_result.loc[0,'best_param'] = grid_svm.best_params_
    pred_result.loc[0,'best_score'] = grid_svm.best_score_
    pred_result.loc[1,'model'] = 'logit'
    pred_result.loc[1,'accuracy_score'] = accuracy_score(y_holdout, logit_pred)
    pred_result.loc[1,'best_param'] = grid_logit.best_params_
    pred_result.loc[1,'best_score'] = grid_logit.best_score_
        
    return pred_result

In [84]:
pred_result = get_pred_res(X,y)

In [85]:
pred_result

   model  accuracy_score best_param  best_score
0    SVM        0.885409          C     0.90531
1  logit        0.907745          C     0.91079